
# Build outputs
# Dependencies
# Environment
# IDE
# Logs
# Misc
# OS
# Test
*.log
*.swo
*.swp
*.tgz
.DS_Store
.cache/
.env
.env.*.local
.env.local
.idea/
.nyc_output/
.vscode/
Thumbs.db
coverage/
dist/
docs/.vitepress/.temp/
docs/.vitepress/cache/
docs/.vitepress/dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
